@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.cyan {
  color: #2196f3;
}

.page04__header {
  width: 100%;
  background-color: #ffffff;
}
.page04__header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page04__header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 0;
}
.page04__header__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}
.page04__header__item a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
}
.page04__header__item a:hover {
  color: #2196f3;
}
.page04__header__logo {
  padding-right: 50px;
  font-size: "Raleway" sans-serif;
  color: #000;
  font-size: 26px;
  font-weight: 700;
}
.page04__header__logo > .cyan {
  font-family: "Oleo-script";
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}
.page04__header__logo span {
  font-weight: 400;
}
.page04__header__address {
  display: flex;
  gap: 50px;
}
.page04__header__address a {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #757575;
  transition: 0.3s;
}
.page04__header__address a:hover {
  color: #2196f3;
}

.page04__hero {
  background-color: #2f303a;
}
.page04__hero__wrapper {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.page04__hero__title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  max-width: 700px;
  text-align: center;
}
.page04__hero__btn {
  background-color: #2196f3;
  color: #fff;
  border-radius: 4px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

.page04__team {
  background-color: #f5f4fa;
}
.page04__team__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page04__team__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  padding: 95px 0 50px 0;
  font-family: "Roboto", sans-serif;
}
.page04__team__menu {
  display: flex;
  gap: 30px;
  padding-bottom: 95px;
}
.page04__team__puople {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px, 0px, 4px, 4px;
  background-color: #fff;
}
.page04__team__puople img {
  max-width: 270px;
}
.page04__team__puople h3 {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 30px 0 10px 0;
}
.page04__team__puople p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  padding-bottom: 30px;
}

.page04__footer {
  background-color: #2f303a;
}
.page04__footer__wrapper {
  padding: 60px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.page04__footer__logo {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.page04__footer__logo > .cyan {
  font-family: "Oleo-script";
}
.page04__footer__logo span {
  font-weight: 400;
}
.page04__footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page04__footer__menu li {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
}
.page04__footer__menu li:hover {
  color: #fff;
}

.page04__info {
  margin: 95px 0;
}
.page04__info__title {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.page04__info__menu {
  display: flex;
  gap: 30px;
}
.page04__info__menu li {
  max-width: 270px;
}
.page04__info__menu li h3 {
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.page04__info__menu li p {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.page04__work__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page04__work__title {
  padding-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.page04__work__works {
  display: flex;
  gap: 30px;
  padding-bottom: 95px;
}

@font-face {
  font-family: "Oleo-script";
  src: url(../../fonts/Oleo_Script/OleoScript-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
}

:root {
  --color-pink: #e4a8fe;
  --color-dark-pink: #ae77d5;
  --color-dark1-purple: #7d4eac;
  --color-dark2-purple: #542c85;
  --color-dark3-purple: #2d165a;
  --color-dark-purple: #140733;
  --color-light: #ccd0fc;
  --color-grey: #919ca0;
  --color-dark1-blue: #465866;
  --color-dark2-blue: #223442;
  --color-dark3-blue: #0e1e2b;
  --color-dark-blue: #05141b;
  --color-light-cyan: #9dcae1;
  --color-dark1-cyan: #6dadd0;
  --color-dark2-cyan: #4c8bb7;
  --color-dark3-cyan: #316fa2;
  --color-dark4-cyan: #134671;
  --color-dark-cyan: #00233d;
  --color-yellow: #f6b166;
  --color-dark-yellow: #d58c57;
  --color-dark1-orange: #b26c4a;
  --color-dark2-orange: #914e3b;
  --color-dark3-orange: #6f362f;
  --color-dark-orange: #4e211e;
  --color-milk: #d4c2b4;
  --color-light-red: #ac867b;
  --color-light2-red: #854d4c;
  --color-dark1-red: #612934;
  --color-black-red: #12020c;
  --color-light-green: #4ad66d;
  --color-green: #2dc652;
  --color-dark1-green: #25a244;
  --color-dark2-green: #208b3b;
  --color-dark3-green: #197431;
  --color-dark4-green: #145d26;
  --color-white: #ededed;
  --color-coffee: #6f4e37;
}

.off {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.webstudio__modal {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  z-index: 100;
}

footer,
header,
main {
  z-index: 99;
}/*# sourceMappingURL=main.css.map */